{
	"extends": "airbnb",
	"plugins": ["jest"],
	"rules": {
		"indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"no-tabs": 0,
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1}],
		"arrow-parens": ["error", "always"],
		"import/prefer-default-export": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/anchor-is-valid": "off",
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true,
	}
}

