@font-face {
	font-family: 'HP Sans';
	src: url('./fonts/hpsans-book-webfont.woff2') format('woff2'),
		 url('./fonts/hpsans-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HP Sans';
	src: url('./fonts/hpsans-medium-webfont.woff2') format('woff2'),
		 url('./fonts/hpsans-medium-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HP Serif';
	src: url('./fonts/hpserif-bold-webfont.woff2') format('woff2'),
		 url('./fonts/hpserif-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HP Serif';
	src: url('./fonts/hpserif-regular-webfont.woff2') format('woff2'),
		 url('./fonts/hpserif-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

