hmtl {
	font-size: 100%;
}

body {
	margin-top: 72px;
	font-size: 16px;
	font-size: 1rem;
}

* {
	box-sizing: border-box;
	font-family: 'HP Sans', 'Source Sans', 'Open Sans', arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

